# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

../../.VirtualBox/
../../.atom
../../.bash_history
../../.config/
../../.gitconfig
../../.lesshst
../../.m2/
../../.minttyrc
../../.oracle_jre_usage/
../../.p2/
../../.readyapi/
../../.soapui/
../../.swt/
../../.tooling/
../../.viminfo
../../AppData/
../../BLOC-WebDev-Course/
../../BoyScouts/
../../Computer - Shortcut.lnk
../../Contacts/
../../Desktop/
../../Documents/
../../Downloads/
../../Dropbox/
../../Favorites/
../../Housing/
../../Links/
../../LogInLogOut.java
../../Music/
../../My PhoneMediaFiles/
../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
../../NTUSER.DAT{220c566c-913b-11e5-a557-005056c00008}.TM.blf
../../NTUSER.DAT{220c566c-913b-11e5-a557-005056c00008}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{220c566c-913b-11e5-a557-005056c00008}.TMContainer00000000000000000002.regtrans-ms
../../NTUSER.DAT{2d200f0e-d438-11e5-b364-005056c00008}.TM.blf
../../NTUSER.DAT{2d200f0e-d438-11e5-b364-005056c00008}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{2d200f0e-d438-11e5-b364-005056c00008}.TMContainer00000000000000000002.regtrans-ms
../../OneDrive/
../../Pictures/
../../Saved Games/
../../Searches/
../../SkyDrive/
../../Sti_Trace.log
../../Tracing/
../../Videos/
../../WebElements/
../../WickedlySmartProject/
../../XL2AFA.xlsb
../../XL50A5.xlsb
../../action_library_demo/
../../bloc/
../
../../code/
../../day2_assignment_repository.tsr
../../default-soapui-workspace.xml
../../driverscript_demo1/
../../g2mdlhlpx.exe
../../hello-world.js
../../lurkel_copy.xlsx
../../ntuser.dat
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.dat{03b3503e-0bf7-11e7-991c-4c72b9557a42}.TM.blf
../../ntuser.dat{03b3503e-0bf7-11e7-991c-4c72b9557a42}.TMContainer00000000000000000001.regtrans-ms
../../ntuser.dat{03b3503e-0bf7-11e7-991c-4c72b9557a42}.TMContainer00000000000000000002.regtrans-ms
../../ntuser.dat{2de4cbbd-5fb7-11e6-bf66-4c72b9557a42}.TM.blf
../../ntuser.dat{2de4cbbd-5fb7-11e6-bf66-4c72b9557a42}.TMContainer00000000000000000001.regtrans-ms
../../ntuser.dat{2de4cbbd-5fb7-11e6-bf66-4c72b9557a42}.TMContainer00000000000000000002.regtrans-ms
../../ntuser.dat{64fa2a3e-2eec-11e8-b684-4c72b9557a42}.TM.blf
../../ntuser.dat{64fa2a3e-2eec-11e8-b684-4c72b9557a42}.TMContainer00000000000000000001.regtrans-ms
../../ntuser.dat{64fa2a3e-2eec-11e8-b684-4c72b9557a42}.TMContainer00000000000000000002.regtrans-ms
../../ntuser.dat{a2abda86-3283-11e8-9c30-4c72b9557a42}.TM.blf
../../ntuser.dat{a2abda86-3283-11e8-9c30-4c72b9557a42}.TMContainer00000000000000000001.regtrans-ms
../../ntuser.dat{a2abda86-3283-11e8-9c30-4c72b9557a42}.TMContainer00000000000000000002.regtrans-ms
../../ntuser.ini
../../soapui-settings.xml
../../thumbdrive01.zipx
../../warren_RADemo.qrs
